<div id='container'>
  <h1>shorten</h1>
  <a href="#/links"><strong>All Links</strong></a>
  <div class="navigation">
    <ul>
      <li><a href="#/links"><strong>All Links</strong></a></li>
      <li><a href="#/"><strong>Submit a link</strong></a></li>
      <li style="float: right"><a href="logout"><strong>Logout</strong></a></li>
    </ul>
  </div>
  <form name="shortenForm" ng-submit='shorten()'>
    <input type='text' ng-model='url'> <!-- -->
    <button>shorten</button>
  </form>
  <div class="link" ng-click='linkClick(url)' ng-repeat="url in currentUrls">     
    <img src="/assets/redirect_icon.png">
    <span class="title"> {{ url.title }} </span>
    <span class="info"> {{ url.base_url }}/{{url.code}} </span>
    <span class="original"> {{ url.url }} </span>
    <span class="visits"> {{ url.visits }} </span>
  </div>
</div>
