<div id='container'>
  <!-- Your html here -->
  <h1>Links</h1>
  <div class="navigation">
    <ul>
      <li><a href="#/links"><strong>All Links</strong></a></li>
      <li><a href="#/"><strong>Submit a link</strong></a></li>
      <li style="float: right" ng-click="logout()"><a><strong>Logout</strong></a></li>
    </ul>
  </div>
  <ul class="link" ng-repeat="link in links">
    <img src="/assets/redirect_icon.png">
    <div class="title"> {{ link.title }} </div>
    <div class="info"> {{ link.base_url }}/{{link.code}} </div>
    <div class="original"> {{ link.url }} </div>
    <div class="visits"> Visits:
      <span class="counts"> {{ link.visits }} </span>
    </div>
  </ul>
</div>

